.cap-th {
  position: relative;
  cursor: default;
  padding: 0 .75rem;

  &__resizer {
    position: absolute;
    cursor: ew-resize;
    width: 2px;
    transition: .1s;
    opacity: 0;
    background: #477aff;
    height: 100%;
    bottom: 0;
    right: 0;
    background-clip: content-box;


    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
