/* You can add global styles to this file, and also import other style files */
@import 'cap-theme';
@import 'assets/styles/base';
@import 'cap-ng-global';

@font-face {
	font-family: "Manrope";
	src: url("/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Manrope-bold";
	src: url("/assets/fonts/Manrope/Manrope-Bold.ttf");
}

body, html {
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: Manrope, serif;
}

svg {
	filter: drop-shadow(0px 4px 4px rgba(0, 32, 51, 0.16)) drop-shadow(0px 8px 24px rgba(0, 32, 51, 0.12));
	transition: transform 0.2s;
	transform-origin: center;
}

svg:hover {
	transform: scale(1.7);
}
