/* You can add global styles to this file, and also import other style files */
@import 'cap-theme';
@import 'assets/styles/base';
@import 'cap-ng-global';
body, html {
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	margin: 0;
}

* {
	box-sizing: border-box;
}

svg {
	-webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
	transition: transform 0.2s;
	transform-origin: center;
}

svg:hover {
	transform: scale(1.7);
}
