<!--<h1>hello world!</h1>-->
<!--<input-->
<!--  type="checkbox"-->
<!--  id="theme"-->
<!--  [(ngModel)]="currentTheme"-->
<!--&gt;-->
<!--<label for="theme">dark theme</label>-->
<!--<cap-theme-switcher-->
<!--  [theme]="currentTheme ? capThemes.dark : capThemes.light"-->
<!--  [transition]="500"-->
<!--&gt;</cap-theme-switcher>-->
<!--<hr>-->
<!--<button cap-button color="default" capButtonType="primary" (click)="hello()">secondary</button>-->
<eco-header></eco-header>
<div class="main-wrapper">
	<eco-hud></eco-hud>
	<eco-map></eco-map>
</div>

